<div class="sobre">
    <h2>Sobre o Nosso Site</h2>
    <p>
        Bem-vindo ao nosso site! Aqui, você encontrará informações detalhadas sobre nossos produtos e serviços.
        Explore nosso conteúdo para saber mais sobre como podemos atender às suas necessidades.
    </p>

    <div class="carousel">
        <button class="arrow prev" (click)="imagemAnterior()">&#10094;</button>
            <img [src]="imagens[currentImageIndex]" alt="Imagem do Carrossel">
        <button class="arrow next" (click)="proximaImagem()">&#10095;</button>
    </div>
</div>


